#main-contacto {
    padding-top: 30px;
    min-height: 73vh;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div-form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin: 5px 10px 5px 10px;
    background: #ee9ca7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

input {
    margin-bottom: 1%;
    width: 100%;
}

.input-genero {
    width: 2%;
}

.input-enviar {
    width: 200px;
}

select {
    width: 50%;
}

.caja-de-texto {
    width: 100%;
}

label {
    width: 100%;
}